<header class="header">
    <div class="logo" role="banner">
      <a href="#">
        <div class="svg_logo">
          <object data="svg/logo_tool.svg" type="image/svg+xml">
            <img alt="ProfTools" src="img/logo_tool.png">
          </object>
        </div>
          <h1 class="name_company">ProfTools</h1>
          <p class="name_company_slogan">Работа может приносить удовольствие!</p>
      </a> 
  </div>
  <div class="clr show_only_mobile"></div>
  <div class="navigation" role="navigation">
    <div id = "nav-burger" class="nav_burger">
    <nav class="burger">
      <a href="#" class="burger__button" id="burger-button">
    <span class="burger__button__icon"></span>
  </a>
    <ul class="burger__menu">
       <li><a href="#">Главная</a></li>
       <li><a href="#">Каталог</a></li>
       <li><a href="#">Доставка</a></li>
       <li><a href="#">Контакты</a></li>
       <li><a href="#">АКЦИИ</a></li>
    </ul>
      </nav>
    </div>
    <div class="navigation_desktop">
      <ul>
        <li><a href="#">Главная</a></li>       
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">АКЦИИ</a></li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
</header>

      