<div class="main_description_pluses">
  <h3 class="main_description_pluses_name">Наши плюсы</h3>
  <div class="main_description_pluses_item">
      <article>
        <h4 class="main_description_pluses_item_name">Отличное качество продукта</h4>
        <div class="main_description_pluses_img_out">
        <div class="main_description_pluses_img_in">
      <img src="img/palez_vverh.png" alt="visokoye_kachestvo_instrumenta" title="Достойное качество по приемлемой цене">
    </div>
  </div>
      <p class="main_description_pluses_item_p">Наш инструмент проверен временем и мастерами автосервисов. Производится на заводах Тайваня.</p>
      </article>
    </div>
    <div class="clr"></div>
  <div class="main_description_pluses_item">
      <article>
        <h4 class="main_description_pluses_item_name">Неплохая скорость доставки</h4>
        <div class="main_description_pluses_img_out">
          <div class="main_description_pluses_img_in">
      <img src="img/dostavka.png" alt="bistraya_dostavka" title="Поставка раз в неделю">
          </div></div>
      <p class="main_description_pluses_item_p">Поставки инструмента раз в неделю. Если нужного товара нет в наличии, привезём под заказ.</p>
      </article>
  </div>
  <div class="clr"></div>
     <div class="main_description_pluses_item">
          <article>
            <h4 class="main_description_pluses_item_name">Очень вежливый продавец</h4>
            <div class="main_description_pluses_img_out">
              <div class="main_description_pluses_img_in">
          <img src="img/vezhliviy_prodavez_.png" alt="vezhliviy_prodavez" title="Очень вежливый продавец">
              </div></div>
          <p class="main_description_pluses_item_p">Он подскажет, какой инструмент вам нужен. А при необходимости примет заказ и сообщит о сроках доставки.</p>
          </article>
        </div>
        <div class="clr"></div>
        <div class="main_description_pluses_item">
            <article>
              <h4 class="main_description_pluses_item_name">Скидки, бонусы, акции</h4>
              <div class="main_description_pluses_img_out">
                <div class="main_description_pluses_img_in">
            <img src="img/sales.png" alt="skidky" title="Скидки лояльным клиентам">
                </div></div>
            <p class="main_description_pluses_item_p">В нашем магазине действуют скидки для постоянных покупателей. Регулярно бывают акции и бонусы.</p>
            </article>
          </div>
          <div class="clr"></div>
</div>