<section class="main_description_range">
  <h3 class = "main_description_range_name">Наш ассортимент</h3>
  <ul>
    <li><a href="#"><img src="img/kit_tools.png" alt="kit_tools" title="Наборы">Наборы инструментов</a></li>
    <li><a href="#"><img src="img/keys.png" alt="keys" title="Ключи всех профилей">Ключи различных профилей</a></li>
    <li><a href="#"><img src="img/golovky.png" alt="torzeviye_golovky" title="Торцевые головки с аксессуарами: переходники, удлинители, карданы">Торцевые головки и аксессуары</a></li>
    <li><a href="#"><img src="img/bity.png" alt="bity_vstavky_otvertky" title="Биты, вставки, отвёртки, адаптеры, держатели">Биты, головки-биты, отвёртки</a></li>
    <li><a href="#"><img src="img/treschotky.png" alt="treschotky_vorotky" title="Трещотки, воротки">Ручные трещотки и воротки</a></li>
    <li><a href="#"><img src="img/kleschy.png" alt="kleschy_syomniky_stopor_kolez" title="Клещи, съёмники стопорных колец, плоскогубцы, длинногубцы, бокорезы, ручные тиски">Клещи и съёмники стоп. колец</a></li>
    <li><a href="#"><img src="img/molotky.png" alt="molotky_zubila_vykolotky" title="Зубила, выколотки, метчики, плашки, молотки, кувалды">Ударно-режущий инструмент</a></li>
    <li><a href="#"><img src="img/syomniki.png" alt="syomniki_universalyniye" title="Съёмники с лапами, съёмники-сепараторы, съёмники шаровых">Универсальные съёмники</a></li>
    <li><a href="#"><img src="img/pnevmotools.png" alt="pnevmaticheskiy_instrument" title="Гайковёрты, трещотки, бор- и шлифмашинки, лобзики, ножи, молотки, пневморазъёмы, шланги и т.д">Пневматический инструмент</a></li>
    <li><a href="#"><img src="img/speztools.png" alt="speztools" title="Установочные планки, фиксаторы колен- и распредвалов, съёмники масляных фильтров и форсунок, клещи для хомутов и шлангов, инструмент для тормозной и охладительной системы, тестеры, компрессометры и т.д">Специальный инструмент</a></li>
    <li><a href="#"><img src="img/chinomontag.png" alt="chinomontagniye_materialy" title="Грузики набивные и самоклеящиеся, герметики, клеи, заплатки, инструмент">Материалы для шиномонтажа</a></li>
    <li><a href="#"><img src="img/rem_komplecty.png" alt="remontniye_komplecty" title="Рем.комплекты для трещоток, воротков, пневмоинструмента">Ремонтные комплекты</a></li>
  </ul>
</section>

