.btn_main,
.btn_footer
  border-radius: $border-radius
  font-family: 'Gunia',Verdana,Geneva,Tahoma,sans-serif
  font-size: $font_size
  padding: 2%
  box-shadow: $box_shadow
  transition: box-shadow 300ms ease-out
  &:active
    box-shadow: $box_shadow_inset
  
.btn_main
  background: url(../img/bg_btn.png) no-repeat center
  background-size: cover
  border-color: $main_color_white
  margin-top: 1em
  color: $main_color_white
 
.btn_footer
  background-color: rgb( 231, 232, 234 )
  color: $bg_color_form
  font-weight: 600 

  